<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Finger Trip</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

    <!-- bxslider -->
    <link href="css/jquery.bxslider.css" rel="stylesheet">

    <!-- 셀프 css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- 추가한 테마 css -->
    <link href="css/import.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light gnb">
        <div class="container">
            <a class="navbar-brand" href="#">Finger Trip</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!--<li class="nav-item active">
                        <a class="nav-link" href="#">홈으로 <span class="sr-only">(current)</span></a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">검색</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="나만의 코스 짜기">나코짜</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">여행가기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">이용방법</a>
                    </li>
                    <li class="nav-item dropdown hidden-xs">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            고객센터
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">공지사항</a>
                            <a class="dropdown-item" href="#">Q&amp;A</a>
                            <a class="dropdown-item" href="#">FAQ</a>
                        </div>
                    </li>
                    <li class="nav-item disBlock992">
                        <a class="nav-link topLoginDiv" href="#">로그인</a>
                        <!--<a class="nav-link topLogoutDiv" href="#">로그아웃</a>-->
                    </li>
                    <li class="nav-item disBlock992">
                        <a class="nav-link topLoginDiv" href="#">회원가입</a>
                        <!--  <a class="nav-link topLogoutDiv" href="#">마이페이지</a>-->
                    </li>
                </ul>


            </div>

            <!-- 로그인 안 했을때 나오는 .topLoginDiv -->
            <!--<div class="topMenu disNone992 topLoginDiv">
                <a class="btn btn-info mar5" style="color:#fff;">회원가입</a>
                <a class="btn btn-primary" style="color:#fff;" href="login.html">로그인</a>
            </div>-->

            <!-- 로그인 했을때 나오는 .topLogoutDiv -->
            <li class="nav-item dropdown list-unstyled disNone992 topLogoutDiv">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             마이페이지
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">회원 정보 수정</a>
                    <a class="dropdown-item" href="#">회원 탈퇴</a>
                    <a class="dropdown-item" href="#">내가 쓴 글</a>
                    <a class="dropdown-item" href="#">내가 찜한 코스</a>
                    <a class="dropdown-item" href="#">쿠폰</a>
                    <a class="dropdown-item" href="#">결제확인</a>
                    <a class="dropdown-item" href="#">하트</a>
                </div>
            </li>
            <button type="button" class="btn btn-primary disNone992">로그아웃</button>

        </div>
    </nav>

    <section class="container board marginTop80 marginBottom80 minheight600">
        <div class="row">

           <!-- 서브메뉴 -->
            <div class="col-lg-3">
                <h3>고객센터</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item active">공지사항</a>
                    <a href="#" class="list-group-item">Q&amp;A</a>
                    <a href="#" class="list-group-item">FAQ</a>
                </div>
            </div>
    
           <!-- 서브컨텐츠 -->
            <div class="col-lg-9">
                <table class="table table-hover tableBorder">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width:5%"></th>
                            <th scope="col" style="width:65%">제목</th>
                            <th scope="col" style="width:18%">작성자</th>
                            <th scope="col">등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">3</th>
                            <td><a href="boardDetail.html">회원가입을 환영합니다.</a></td>
                            <td>최고관리자</td>
                            <td>18.07.18</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>최초 이벤트</td>
                            <td>관리자</td>
                            <td>18.07.17</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>회원가입을 환영합니다.</td>
                            <td>최고관리자</td>
                            <td>18.07.17</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>




    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">회사소개</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">이용약관</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">제휴/광고 문의</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3 disNone992">
                            <a href="#">참고하면 좋은 사이트</a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#"><i class="fa fa-facebook fa-2x fa-fw">페북</i></a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#"><i class="fa fa-twitter fa-2x fa-fw">트위터</i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-instagram fa-2x fa-fw">인스타</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>



</body>

</html>
