@charset "utf-8";



/* 공통 */
.admCenter{width: 1500px; margin: 0 auto;}
a{text-decoration: none; color: #333;}
a:hover, a:active{color: #848484;}
.clearFix:after{
    display: block;
    content: '';
    clear: both;
}
li{list-style: none;}
.marginTop10{margin-top: 10px;}
.marginTop20{margin-top: 50px;}
.marginTop30{margin-top: 50px;}
.marginTop40{margin-top: 50px;}
.marginTop50{margin-top: 50px;}
.marginTop60{margin-top: 60px;}
.marginTop70{margin-top: 70px;}
.marginTop80{margin-top: 80px;}
.marginTop90{margin-top: 90px;}
.marginTop100{margin-top: 100px;}
.marginBottom10{margin-bottom: 10px;}
.marginBottom20{margin-bottom: 20px;}
.marginBottom30{margin-bottom: 30px;}
.marginBottom40{margin-bottom: 40px;}
.marginBottom50{margin-bottom: 50px;}
.marginBottom60{margin-bottom: 60px;}
.marginBottom70{margin-bottom: 70px;}
.marginBottom80{margin-bottom: 80px;}
.marginBottom90{margin-bottom: 90px;}
.marginBottom100{margin-bottom: 100px;}
.fRight{float: right;}
.fLeft{float: left;}


/* header */
h1{
    text-align: center;
    font-size: 1.2em;
    margin: 30px;
}
header{border-bottom: 3px solid #4c4c4c;}
header li{
	float: left;
	width: 14%;
	padding: 20px 0px;
	text-align: center;
}



/* 목록 테이블 공통 */
table{width: 100%;}
.grayTh {
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 0px;
}
.grayTh th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
}
.grayTh td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

/* 상세 테이블 공통 */
.grayBor {
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 3px solid #969696;
    margin : 20px 0px;
}
.grayBor th {
    padding: 15px 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
    width:200px;
    color: #6d6d6d;
}
.grayBor td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}


/* 서브 메뉴의 메뉴 */
.lineGnb li{
    float: left;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #909090;
    text-align: center;
    border-left:none;
    padding: 10px;
}
.lineGnb li:hover, .lineGnb li:active, .lineGnb li:focus, .lineGnb li.on{
	background-color: #eee;
	font-weight: bold;
}
.lineGnb li:first-child{border-left:1px solid #909090;}
.lineGnb li a{display: block; width: 100%; height: 100%;}
.lineGnb li a:hover, .lineGnb li a:active, .lineGnb li a:focus{
	color:#333; 
}

/* 버튼 div */
.aWrap a, .aWrap input{
	margin-left: 10px;
	border: none;
    padding:15px 30px;
    border-radius: 5px;
    display: inline-block;
}
.darkGray{
	background: #4b4b4b;
    color: #fff;
}
.lightGray{
	background: #808080;
    color: #fff;
}
.darkGray:hover, .darkGray:focus,
.lightGray:hover, .lightGray:focus{
	color:#dcdcdc;
}
a.darkBorder{border:1px solid #4b4b4b;}
input.darkBorder{border:1px solid #4b4b4b;}


/* 기업회원 가입 */
.agencyWrite div{border-bottom: 1px solid #b5b5b5;}
.agencyWrite legend{
    font-weight: 600;
    font-size: 1.2em;
}
.agencyWrite input[type=text],.agencyWrite input[type=password]{
    border: 1px solid #b7b7b7;
    padding: 5px;
}
.div3 input{width:100px; }
.div1st{
    border-top: 3px solid #969696;
    margin-top: 20px;
}
div.divLast{
    border-bottom: none;
    margin-top: 30px;
    text-align: center;
}
.divLast input{
    border: none;
    padding:15px 30px;
    border-radius: 5px;
    background: #4b4b4b;
    color: #fff;
    margin-top:-4px;
}
.agencyWrite div>label{
    background: #eee;
    display: inline-block;
    width: 200px;
    padding: 15px 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #6d6d6d;
}

















