@charset "UTF-8";
	/* .findId{
		margin-top: 80px;
		 border: 2px solid black;
		padding: 30px;
		background: #ffffff;
	} */  
	.dvFindId{
		margin: 5px 0px;
	}
	.sbmit{
		margin: 30px 0 15px 0;
	}
	.spanSize{
		display: inline-block;
		margin:0px;
		font-size: 20px;
		width: 80px;
	}
	.spanId{
		margin: 0 25px;
	}
	.margin80{
		margin-top: 80px;
		margin-bottom: 80px;
	}
	.memberOut{
		border:1px solid silver;
		padding: 40px;
		overflow: hidden;
	}
	.memberOut img{
		padding:0 40px 0 0;
		border-right: 1px solid silver;
		float: left;
	}
	.memberOut div{
		float: left;
		margin: 40px;
	}
	.colorGray{
		color: gray;
	}
	.frmMemberOut{
		margin: 50px;
	}
	.fontBold{
		font-weight: bold;
		font-size: 25px;
	}
	.marginL10{
		margin-left: 10px;
	}
	.marginTB{
		margin: 50px 0;
	}
	.colorBlue{
		color: #6495ed;
	}
	.imgSize{
		width:85px;
	}
	.overflowH{
		overflow: hidden;
	}
	.listDv{
		border: 1px solid silver;
	    margin: 10px;
	    float: left;
	    width: 255px;
	    height: 405px;
	}
	.myList{
		border: 1px solid silver;
	    margin: 10px;
	    float: left;
	    width: 245px;
	    height: 405px;
	}
	.listImg{
		width: 100%;
	}
	.pad10{
		padding: 0 10px;
	}
	.pad15{
		padding: 15px;
	}
	.listTitle{
	    font-size: 20px;
	    height: 80px;
    	margin: 0px;
    	font-weight: bold;
	}
	.listSmDv{
		font-size: 17px;
	    color: black;
	}
	.colorGreen{
		color: #00BCD4;
	}
	.colorOrange{
		color: #FF9800;
	}
	.colorRed{
		color: crimson;
	}
	.clear{
		clear: both;
	}
	.colorPink{
		color: lightpink;
	}
	.prev{
		width: 18px;
	    margin-right: 10px;
	    margin-bottom: 5px;
	}
	.qna{
		width:25px;
		margin-right: 5px;
	}
	.subBgNaco{
    	background-image: url(../img/ocean.jpg);
	}
	.margin0{
		margin: 0 auto;	
	}
	.margin15{
		margin: 15px;
	}
	.width500{
		width: 500px;
	}
	.marginT50{
    	margin-top: 50px;
	}
	.marginT30{
    	margin-top: 30px;
	}
	.width150{
		width: 150px;
	}
	a.decoN{
		text-decoration: none;
	}
	.marginTB12{
		margin: 12px 0;
	}
	.dvFindBack{
		padding: 130px;
    	background: #f3f9fd;
	}
	.findImg{
	    width: 58%;
	    height: 440px;
	}
	.findColor{
		color: #0f5f5c;
		background: white;
	}
	.findIpDv{
		width: 42%;
	}
	.width350{
	    width: 350px;
	}
	.width70{
		width:70%;
	}
	.width30{
		width:30%;
	}
	.maxW100{
		max-width: 100%;
	}
	.width20{
		width: 20%;
	}
	.width60{
		width: 60%;
	}
	.listH{
		height: 169px;
	}
	.btnColor{
		color: #fd8730;
	}
	.warn{
		margin: 5px 0px;
	    color: red;
	    font-size: 12px;
	}
	.maxH500{
		max-height: 500px;
	}
	.marR10{
		margin-right: 10px;
	}
	#datatable tbody th{
		text-align: left;
	}
	#container2 {
		height: 400px;
		max-width: 1200px;
	}