@charset "UTF-8";
	.findId{
		margin-top: 80px;
		border: 3px solid black;
		padding: 30px;
		background: #faff07;
	}
	.dvFindId{
		margin: 5px 0px;
	}
	.sbmit{
		margin: 30px 0 15px 0;
	}
	.spanSize{
		display: inline-block;
		margin:0px;
		font-size: 20px;
		width: 80px;
	}
	.spanId{
		margin: 0 25px;
	}
	.margin80{
		margin-top: 80px;
		margin-bottom: 80px;
	}
	.memberOut{
		border:1px solid silver;
		padding: 40px;
		overflow: hidden;
	}
	.memberOut img{
		padding:0 40px 0 0;
		border-right: 1px solid silver;
		float: left;
	}
	.memberOut div{
		float: left;
		margin: 40px;
	}
	.colorGray{
		color: gray;
	}
	.frmMemberOut{
		margin: 50px;
	}
	.fontBold{
		font-weight: bold;
		font-size: 25px;
	}
	.marginTB{
		margin: 50px 0;
	}
	.colorBlue{
		color: #6495ed;
	}
	.imgSize{
		width:85px;
	}
	.overflowH{
		overflow: hidden;
	}
	.listDv{
		border: 1px solid silver;
	    margin: 10px;
	    float: left;
	    width: 255px;
	}
	.listImg{
		width: 100%;
	}
	.pad10{
		padding: 0 10px;
	}
	.pad15{
		padding: 15px;
	}
	.listTitle{
	    font-size: 20px;
	}
	.listSmDv{
		font-size: 17px;
	    color: black;
	    font-weight: bold;
	}
	.colorGreen{
		color: #00BCD4;
	}
	.colorOrange{
		color: #FF9800;
	}
	.colorRed{
		color: crimson;
	}
	.clear{
		clear: both;
	}
	.colorPink{
		color: lightpink;
	}
	.prev{
		width: 18px;
	    margin-right: 10px;
	    margin-bottom: 5px;
	}
	.qna{
		width:25px;
		margin-right: 5px;
	}
	.subBgNaco{
    	background-image: url(../img/ocean.jpg);
	}
	.margin15{
		margin: 15px;
	}