/* ######## 공통 ######### */
/* gnb */
.navbar{
    -webkit-box-shadow: 0px 3px 31px -4px rgba(212,212,212,1);
    -moz-box-shadow: 0px 3px 31px -4px rgba(212,212,212,1);
    box-shadow: 0px 3px 31px -4px rgba(212,212,212,1);
}
.disNone992{display: block;}
.disBlock992{display: none;}
.clearFix:after{
	content: '';
	display: block;
	clear: both;
}

@media (max-width: 992px){
    .disNone992{display: none;}
    .disBlock992{display: block;}
}

footer{border-top: 1px solid #d8d8d8;}
.admBtn{
	cursor: inherit;
	text-decoration: none;
	color:#6c757d;
}
.admBtn:hover, .admBtn:focus, .admBtn:active{text-decoration:none;}

/* margin */
.paddingL100{padding-left: 100px;}
.marginTop10{margin-top: 10px;}
.marginTop20{margin-top: 50px;}
.marginTop30{margin-top: 50px;}
.marginTop40{margin-top: 50px;}
.marginTop50{margin-top: 50px;}
.marginTop60{margin-top: 60px;}
.marginTop70{margin-top: 70px;}
.marginTop80{margin-top: 80px;}
.marginTop90{margin-top: 90px;}
.marginTop100{margin-top: 100px;}
.marginBottom10{margin-bottom: 10px;}
.marginBottom20{margin-bottom: 20px;}
.marginBottom30{margin-bottom: 30px;}
.marginBottom40{margin-bottom: 40px;}
.marginBottom50{margin-bottom: 50px;}
.marginBottom60{margin-bottom: 60px;}
.marginBottom70{margin-bottom: 70px;}
.marginBottom80{margin-bottom: 80px;}
.marginBottom90{margin-bottom: 90px;}
.marginBottom100{margin-bottom: 100px;}

/* minheight */
.minheight300{min-height: 300px;}
.minheight400{min-height: 400px;}
.minheight500{min-height: 500px;}
.minheight600{min-height: 600px;}


/* 서브 배경 공통 */
.subBg{
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 70px;
    text-align: center;
}
.subBgBlack{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.subBg p{
    color: #ffffff;
    position: relative;
    z-index: 1;
    font-size: 1.3em;
    padding-top: 4em;
}


/* 메인 */
.fRight {
    float: right;
}
.mar5 {
    margin-right: 5px;
}
.minHeight580{min-height: 580px;}


/* 로그인  */
.login{
    background-image: url(../img/loginBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 70px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.login .form-box {
    margin-top: 70px;
}

.login .form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.login .form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.login .form-top-left h3 {
    margin-top: 0;
}

.login .form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.login .form-bottom {
    padding: 25px 25px 30px 25px;
    background: #fff;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.login .form-bottom form textarea {
    height: 100px;
}

.login .form-bottom form button.btn {
    width: 100%;
}

.login .form-bottom form .input-error {
    border-color: #19b9e7;
}

.login button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.login button.btn:hover {
    opacity: 0.6;
    color: #fff;
}

.login button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login button.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

.login button.btn:active:focus,
.login button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

.login .middle-border {
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(25, 185, 231, 0.6);
}
.loginWrap footer{margin-top: 70px;}


/* 공지사항 */
.tableBorder{ border-bottom: 1px solid #dee2e6;}
table a{color:#212529;}
table a:hover, table a:active{text-decoration: none;}


/* 제휴 광고 문의 */
.subBgAd{background-image: url(../img/subBgAd.jpg);}
.advertise .info i {
  font-size: 32px;
  color: #1dc8cd;
  float: left;
  line-height: 1;
}

.advertise .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

.advertise .form #sendmessage {
  color: #1dc8cd;
  border: 1px solid #1dc8cd;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.advertise .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.advertise .form #sendmessage.show, .advertise .form #errormessage.show, .advertise .form .show {
  display: block;
}

.advertise .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

.advertise .form input, .advertise .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.advertise .form button[type="submit"] {
  background: #3faeff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
}

.advertise .form button[type="submit"]:hover {
  cursor: pointer;
}


/* 내가 쓴 글 */
.subBgMyBoard{background-image: url(../img/subBgMyBoard.jpg);}
.pencilP{
    background-image: url(../img/pencil.png);
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 1.3em;
    font-weight: 500;
}


/* 회원약관 */
.subBgTerm{
    background-image: url(../img/subBgTerm.jpg);
}


/* 회사소개 */
.subBgAbout{
    background-image: url(../img/subBgAbout.jpg);
}


/* 이용방법 */
.subBgHowto{
    background-image: url(../img/subBgHowto.jpg);
}
.howto .col-md-5 img{width: 100%;}
.howto .col-md-7{margin-top: 2em;}
.howto .row{
    margin-top: 40px;
    margin-bottom: 40px;
}


/* 회원가입 */
.mandatory {
	font-size: 0.7em;
	color: red;
}
.emailWrap .input-group>.form-control {
    flex-basis: 25%;
}


/* 나코짜 */
.plan1{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ddd;
    padding: 30px 0 70px;
}
.plan1>h3{
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.plan1>div{
    margin-bottom: 15px;
}
.plan1 input[type=text]{
    border: 1px solid #c1c1c1;
    padding: 5px;
    width: 80.5%;
}
.plan1 textarea{
    width: 80.5%;
    margin-top: 20px;
}
.plan1 .datepicker[type=text]{
    width: 40%;
    box-sizing: border-box;
}
.planImgWrap{
    width: 80.5%;
    text-align: left;
    margin: 0 auto;
}
.planImgWrap label { 
    display: inline-block; 
    padding: .3em .75em; 
    color: #fff; 
    font-size: inherit; 
    line-height: normal; 
    vertical-align: middle; 
    background-color: #888888; 
    cursor: pointer; 
    border: 1px solid #ebebeb; 
    border-bottom-color: #e2e2e2; 
    border-radius: .25em; 
} 
.planImgWrap input[type="file"] { 
    /* 파일 필드 숨기기 */ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}
.planImgWrap .upload-name { 
	display: inline-block; 
	padding: .4em .75em; 
	font-size: inherit; 
	font-family: inherit; 
	line-height: normal; 
	background-color: #fff; 
	border:none;
	border-bottom: 1px solid #ebebeb; 
	border-radius: .25em; 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
	width: 70%;
}

.plan1>.btn { 
    width: 80.5%;
    margin: 0 auto;
    padding: 10px 0px;
    margin-top: 20px;
}


/* 나코짜2 plan2 */
/* li{list-style: none} */
.faq-list .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #2288ff;
    border-color: #2288ff;
}
.faq-list .list-group-item{
    color: #777;
    font-weight: 600;
    position: relative;
    font-size: 1.05em;
}
.plan2 .faq-list small{
    font-size: 0.7em;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.course{
    width:100%;
    border-top: 3px solid #2288ff;
    border-bottom: 3px solid #2288ff;
}
.courseDiv{
    border-bottom: 1px solid #cbe3ff;
}
.courseLabel{
    width: 20%;
    box-sizing: border-box;
    background: #e9f0f5;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.courseInput[type=text]{
    width: 78%;
    border: none;
    padding-left: 3px;
}
.mapSearch{
    margin: 8px 0 10px;
}
.mapSearch input[type=textbox]{
    width:89.5%; 
    padding: 3px;
    border: none;
    border-bottom: 1px solid #ffab3a;
}
.mapSearch input[type=button]{
    position: relative;
    bottom: 3px;
}
.textCK{
    width: 99.5%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}
#map{
    width:100%; 
    height: 25em;
}
#mapFinal{
	width:100%; 
    height: 25em;
}


/* faq */
.faqTabNav{
	padding:0;
	border: 1px solid #545454;
}
.faqTabNav>li{
	width: 20%;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    text-align:center;
 }
.faqTabNav>li:hover, .faqTabNav>li:focus, .faqTabNav>li.gray{
	background: #2f2f2f;
	color: #fff;
}
.faq li {
	list-style: none;
}

.faq .ui-state-default {
	border: none;
	border-top: 1px solid #c5c5c5;
	background: #fff;
	padding: 10px;
}

.faq .ui-state-active {
	border-left: none;
	border-right: none;
	background: #2f2f2f;
}

.faq .ui-widget-content {
	border: none;
}

.faq .ui-widget {
	border-bottom: 1px solid #c5c5c5;
}

.faq .ui-accordion .ui-accordion-header {
	padding: 17px;
}

/* 나코짜보기 */
.naThumImg img{
    max-width: 100%;
    max-height: 500px;
}
.naThumHeart{
    position: relative;
}
.heartBtn{
    position: absolute;
    bottom: 0;
    color: #fff;
    background-image: url(../img/heartIcon.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
}
.ncjP{
    border-top: 2px solid #ffc68b;
}
.ncjP span{
    display: inline-block;
}
.ncjP span:first-child{
    width: 13%;
    background: #ff9c38;
    color: #fff;
    box-sizing: border-box;
    padding:1%;
    font-size: 1.1em;
}
.ncjP span:last-child{
    width: 86%;
    padding-left: 10px;
}
.ncjD p{
    margin: 0;
}
.ncjD li{list-style: none;}
.spot{
   background-image:url(../img/spotIcon.png);
    background-repeat: no-repeat;
    background-position:0px;
    padding-left: 25px;
    font-weight: 600;
    font-size: 1.05em;
}
p.spotExp{
    padding-left: 10px;
    margin-left: 11px;
    border-left: 2px solid #ffdab4;
    padding-bottom: 30px;
}
.spotDiv p:last-child{
    border-left: none;
}
.spotImg{
    margin: -1%;
    margin-top: 50px;
}
.spotImg img{
    width: 32%;
    padding: 1%;
    max-height: 207px;
}
p.explain{
    font-weight: 600;
    font-weight: 1.05em;
    margin-bottom: 5px;
    background-image: url(../img/spotExpIcon.png);
    background-repeat: no-repeat;
    padding-left: 30px;
}


.comments-list ul{padding:0; margin: 0;}
.comments-list ul li {
    border-bottom: 1px dotted #ffb146;
}
p.replyTitle{
    background-image: url(../img/replyIcon.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-top: 30px;
    font-weight: 600;
    
}
.comments-content-wrap {
  color: #42414f;
  font-size: 0.9em;
  line-height: 1;
  padding: 10px;
  margin-bottom: 10px;
}
.comments-content-wrap>span{display: block;}
.reply{
    margin-top: 15px;
    display: inline-block;
    color: #838383;
    border-radius: 2px;
    cursor: pointer;
} 
.recomments-content-wrap {
  color: #42414f;
  font-size: 0.9em;
  line-height: 1;
  padding: 10px;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 10px;
}
.recomments-content-wrap>p{margin-top: 10px;}
.rereply{
    margin-bottom: 10px;
}
.rereply textarea{
    border: none;
    padding: 1%;
    height: 120px;
    width: 100%;
}
.rereply button{
    border: none;
    margin-top: -6px;
    background: transparent;
    color: #333;
    font-size: 0.9em;
}
.recomments-wrap{
    background: #f2f2f2;
    padding:1.5% 3%;
    display: none;
}
.replyText textarea{
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
}
.replyText button{font-size: 0.9em;}